
  * {
    box-sizing: border-box;
    background-color: black;
  }
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }